.about-img {
    height: 70vh;
    object-fit: cover;
    opacity: 0.3;
}

.about-product-img {
    max-width: 100%;
    height: auto;
    padding: 80px;
    object-fit: cover;
}

@media (max-width: 576px) {
    .about-img {
        height: 50vh;
    }

    .about-us-text p {
        font-size: 28px;
    }

    .about-product-img {
        height: 400px;
        width: 100%;
    }
}

.contactUs-text:hover{
 transform: translateX(10px);
 transition: all 0.5s ease-in-out;
 cursor: pointer;
}
@media (max-width: 992px) {
    .contactUs-message{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media (max-width: 576px) {
    .contactUs-message{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}