.about-img {
    height: 70vh;
    object-fit: cover;
    opacity: 0.3;
}

.about-product-img {
    max-width: 100%;
    height: auto;
    padding: 80px;
    object-fit: cover;
}

@media (max-width: 576px) {
    .about-img {
        height: 50vh;
    }

    .about-us-text p {
        font-size: 28px;
    }

    .about-product-img {
        height: 400px;
        width: 100%;
    }
}