.offer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.filter-sidebar {
    position: fixed;
    top: 100px;
    left: 0;
    width: 25%;
    height: 87vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    padding: 15px;
    border-right: 1px solid #ddd;
    z-index: 1000;
}

.filter-sidebar>.row {
    height: 100%;
}

.filter-sidebar .col-12 {
    max-height: 100%;
    overflow-y: auto;
    padding-right: 5px;
}



.product-content {
    margin-left: 25%;
    height: auto;
    overflow-y: auto;
    padding: 15px;
}

.action-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.filter-sidebar::-webkit-scrollbar,
.product-content::-webkit-scrollbar {
    width: 6px;
}

.filter-sidebar::-webkit-scrollbar-thumb,
.product-content::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

@media screen and (max-width: 576px) {
    .filter-sidebar {
        display: none;
    }

    .product-content {
        margin-left: 0;
    }
}